<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178084388970-766bkbl8dnommkj31rmnmjgqbjs6bo4h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178084388970-766bkbl8dnommkj31rmnmjgqbjs6bo4h</string>
	<key>API_KEY</key>
	<string>AIzaSyBSVuAIVtjOucoThmC1bTgTDWDuOIfQszk</string>
	<key>GCM_SENDER_ID</key>
	<string>178084388970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hectorcflores.myanki</string>
	<key>PROJECT_ID</key>
	<string>my-anki-hector</string>
	<key>STORAGE_BUCKET</key>
	<string>my-anki-hector.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178084388970:ios:7e248fdbc116ad111bea13</string>
</dict>
</plist>